<div class="center">
  <h2> Voyage</h2>
</div>
<div class="container">
  <div class="row">
    <app-search-country></app-search-country>
    <div *ngFor="let country of countryList" class="col m4 s6">
      <div (click)="goToCountry(country)" class="card horizontal" appBorderCard>
        <div class="card-image">
          <img [src]="country.picture" alt="Country Picture" height="190">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ country.name | uppercase }}</p>
            <span class="{{ country.continent | countryContinentColor }}">
              {{ country.continent }}
            </span>
            <p><strong>{{ country.resident }}</strong></p>
            <p><small>{{ country.created | date: "dd/MM/yyyy" }}</small></p> <!-- Potential issue here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

